Linear Regression Live coding

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from pandas_profiling import ProfileReport
from sklearn.linear_model import LinearRegression

In [23]:
df=pd.read_csv('Advertising.csv')
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [3]:
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
corr=df.corr()

In [5]:
corr

            Unnamed: 0        TV     Radio  Newspaper     Sales
Unnamed: 0    1.000000  0.017715 -0.110680  -0.154944 -0.051616
TV            0.017715  1.000000  0.054809   0.056648  0.782224
Radio        -0.110680  0.054809  1.000000   0.354104  0.576223
Newspaper    -0.154944  0.056648  0.354104   1.000000  0.228299
Sales        -0.051616  0.782224  0.576223   0.228299  1.000000

In [6]:
df.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [7]:
df=df.drop(df.columns[0],axis=1)

In [20]:
df.head(50)

       TV  Radio  Newspaper  Sales
0   230.1   37.8       69.2   22.1
1    44.5   39.3       45.1   10.4
2    17.2   45.9       69.3    9.3
3   151.5   41.3       58.5   18.5
4   180.8   10.8       58.4   12.9
5     8.7   48.9       75.0    7.2
6    57.5   32.8       23.5   11.8
7   120.2   19.6       11.6   13.2
8     8.6    2.1        1.0    4.8
9   199.8    2.6       21.2   10.6
10   66.1    5.8       24.2    8.6
11  214.7   24.0        4.0   17.4
12   23.8   35.1       65.9    9.2
13   97.5    7.6        7.2    9.7
14  204.1   32.9       46.0   19.0
15  195.4   47.7       52.9   22.4
16   67.8   36.6      114.0   12.5
17  281.4   39.6       55.8   24.4
18   69.2   20.5       18.3   11.3
19  147.3   23.9       19.1   14.6
20  218.4   27.7       53.4   18.0
21  237.4    5.1       23.5   12.5
22   13.2   15.9       49.6    5.6
23  228.3   16.9       26.2   15.5
24   62.3   12.6       18.3    9.7
25  262.9    3.5       19.5   12.0
26  142.9   29.3       12.6   15.0
27  240.1   16.7       22.9   15.9
28  248.8   27.1       22.9   18.9
29   70.6   16.0       40.8   10.5
30  292.9   28.3       43.2   21.4
31  112.9   17.4       38.6   11.9
32   97.2    1.5       30.0    9.6
33  265.6   20.0        0.3   17.4
34   95.7    1.4        7.4    9.5
35  290.7    4.1        8.5   12.8
36  266.9   43.8        5.0   25.4
37   74.7   49.4       45.7   14.7
38   43.1   26.7       35.1   10.1
39  228.0   37.7       32.0   21.5
40  202.5   22.3       31.6   16.6
41  177.0   33.4       38.7   17.1
42  293.6   27.7        1.8   20.7
43  206.9    8.4       26.4   12.9
44   25.1   25.7       43.3    8.5
45  175.1   22.5       31.5   14.9
46   89.7    9.9       35.7   10.6
47  239.9   41.5       18.5   23.2
48  227.2   15.8       49.9   14.8
49   66.9   11.7       36.8    9.7

In [9]:
pf=ProfileReport(df)
pf.to_widgets()

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=5.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render widgets'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

we see that there is a good relationship between sales and tv and sales and radio.

In [10]:
pf.to_file('EDA.html')

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [11]:
#Lets build a model

In [12]:
#select features and select label
#we can build a model betwen TV and Sale

In [13]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [18]:
x=df['TV']
x

0      230.1
1       44.5
2       17.2
3      151.5
4      180.8
       ...
195     38.2
196     94.2
197    177.0
198    283.6
199    232.1
Name: TV, Length: 200, dtype: float64

In [19]:
y=df.Sales
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales, Length: 200, dtype: float64

In [16]:
#Lets get the library
#for any code related enquiry always follow the official documentation.
# example: for sk learn search sklearn documentation

In [25]:
lm=LinearRegression()
lm.fit(x,y)

LinearRegression()